.bag-plane-wrap {
  width: 19rem;
  padding: .5rem 1rem;
  position: relative;

  h1 {
    color: $orange;
    font-size: .6rem;
    text-align: center;
    font-weight: bold;
  }

  .none-prop{
    margin-top: .5rem;
    text-align: center;
    color: rgb(63, 63, 63);
  }

  h2 {
    position: absolute;
    font-size: .3rem;
    font-weight: bold;
    right: .5rem;
    top: .55rem;
    background-color: rgba(255, 255, 255, .3);
    color: $orange;
    padding: .1rem .4rem;
    border-radius: .3rem;

    span {
      font-weight: bold;
    }

    .iconfont {
      color: #ffc61d;
      background-color: #cc6301;
      border-radius: 50%;
      margin-right: .05rem;
    }
  }

  ul {
    display: flex;
    flex-flow: wrap;
    margin-top: .2rem;
    overflow-y: auto;
    max-height: 5.8rem;

    li {
      display: flex;
      margin-top: .4rem;
    }

    .prop-icon {
      width: 2rem;
      height: 2rem;
      margin-right: .2rem;
      border-radius: .2rem;
    }

    .prop-info-wrap {
      width: 3.9rem;

      p {
        font-size: .3rem;
        margin-bottom: .1rem;
      }

      .name {
        font-weight: bold;
      }

      .desc {
        color: gray;
      }

      .num {
        span {
          font-weight: bold;
          color: $orange;
        }
      }

      .button {
        display: inline-block;
        font-size: .2rem;
        padding: .1rem .2rem;
        border-radius: .2rem;
      }
    }
  }

  &>p {
    margin-top: .3rem;
    font-size: .3rem;
    line-height: 2;
    text-align: center;

    .button {
      display: inline-block;
      margin-top: .3rem;
    }
  }
}