.rank-plane-wrap {
  padding: .5rem .8rem;


  h1 {
    color: $orange;
    font-size: .6rem;
    text-align: center;
    font-weight: bold;
  }

  p {
    margin-top: .3rem;
    font-size: .3rem;
    line-height: 2;
    text-align: center;
  }

  .rank-wrap {
    display: flex;

    h2 {
      font-size: .4rem;
      font-weight: bold;
      color: $orange;
    }

    p {
      position: relative;
      margin-right: 1.3rem;

      ul {
        width: 100%;
        max-height: 6rem;
        overflow-y: auto;
        li{
          text-align: left;
          vertical-align: middle;
          margin-top: .1rem;
          .rank-num{
            display: inline-block;
            margin-right: .1rem;
            width: .4rem;
            height: .4rem;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            line-height: .4rem;
            background-color: rgba(255,255,255,.4);
            color: $orange;
            border-radius: 50%;
          }
          .rank-val{
            margin-left: .1rem;
            font-size: 12px;
            padding: .05rem .1rem;
            background-color: #5ebbea;
            color: rgb(255, 255, 255, .9);
            border-radius: .1rem;
          }
        }
      }

    }

    p:nth-last-of-type(1) {
      margin-right: 0;
    }

  }


  .button {
    cursor: pointer;
    display: inline-block;
    margin-top: .5rem;
  }
}