.pet-card-wrap {
  position: relative;
  height: 5rem;
  width: 4rem;
  border-radius: 0.1rem;
  background: #eff8eb;
  margin-right: 0.2rem;

  &:nth-of-type(n+7) {
    margin-top: 0.2rem;
  }

  &:nth-of-type(6n) {
    margin-right: 0;
  }


  .pet-wrap {
    position: absolute;
    height: 5rem;
    width: 4rem;
  }

  .host-name {
    display: flex;
    align-items: center;
    height: .6rem;
    color: white;
    word-break: break-all;
    position: absolute;
    transform: translateX(calc(2rem - 50%));
    margin-top: 0.3rem;
    font-size: 0.3rem;
    font-weight: bold;
    padding: 0 0.22rem;
    border-radius: 0.2rem;
    background: #ffbf1d;
    text-shadow: 1px 1px 1px hsl(29, 100%, 16%);
  }
}